<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trang quản trị hệ thống</title>
</head>

<body>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Welcome Admin!</h1>
            </div>
            <input type="button" class="btn btn-success" value="Tổng số học viên" onclick="window.location.href='/user'" />
            </br>
            <input type="button" class="btn btn-success" value="Tạo một học viên" onclick="window.location.href='/createUser'" />
            </br>
            <input type="button" class="btn btn-success" value="Xóa một học viên" onclick="window.location.href='/delete'" />
            </br>
            <input type="button" class="btn btn-success" value="Đăng xuất" onclick="window.location.href='/'" />
        </div>
    </div>
</body>

</html>

<link rel="stylesheet" href="/static/style.css" type="text/css">
<style>
    body {
        font-family: Arial;
        background-color: #337ab7;
        padding: 50px;
    }
</style>