<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Đăng nhập hệ thống</title>
</head>

<body>
	<form action="/login" method="POST">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1>Đăng nhập</h1>
				</div>
				<div class="login-form">
					<div class="control-group">
						<input type="text" class="login-field" value="" placeholder="Tài khoản" name="username">
						<label class="login-field-icon fui-user" for="login-name"></label>
					</div>
					<div class="control-group">
						<input type="password" class="login-field" value="" placeholder="Mật khẩu" name="password">
						<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
					<div class="control-group">
						<input type="submit" value="Đăng nhập" class="btn btn-primary btn-large btn-block">
					</div>
					<div class="control-group">
						<input type="button" value="Quay lại" class="btn btn-primary btn-large btn-block" onclick="window.location.href='/'">
					</div>
				</div>
			</div>
		</div>
	</form>
</body>

</html>

<link rel="stylesheet" href="/static/style.css" type="text/css">
<style>
	body {
		font-family: Arial;
		background-color: #337ab7;
		padding: 50px;
	}
</style>